<div class="container">
  <div class="navbar">
    <h1>Caio Alves</h1>
    <h2>Full Stack Developer</h2>
    <h2>Ruby | Rails | SQL | Git | HTML | CSS | JavaScript | Node</h2>
  </div>
  <div>
    
  </div>
</div>
